
/* シーン */
.tie-scene{
  position:relative;
  width:640px;
  min-height:100svh;
  margin:0 auto;
  overflow:hidden;
 
}

/* SVG固定 */
.musubi{
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  width:640px;
  height:auto;
  display:block;
}

/* 落下レイヤー */
.fall-layer{
  position:absolute;
  inset:0;
  pointer-events:none;
}




@keyframes paperFly {

  0% {
    transform: translate(-50%, -140%) scale(1);
    opacity: 1;
  }

  /* 中央に到達しつつ少し弧 */
  60% {
    transform: translate(-50%, -56%) scale(0.85);
    opacity: 1;
  }

  /* そのまま連続で吸い込まれる */
  100% {
    transform: translate(-50%, -50%) scale(0.12);
    opacity: 0;
  }
}

/*メッセージ*/
.final-message{
  position:absolute;
  left:50%;
  top:8%;
  transform:translate(-50%,0);

  writing-mode:vertical-rl;
  text-orientation:upright;

  font-size:22px;
  letter-spacing:0.18em;
  line-height:2.2;
  text-align:center;

  color:#000;

  /* ★広がる光（軽量） */
  filter:
    drop-shadow(0 0 60px rgba(255,255,255,0.9))
    drop-shadow(0 0 160px rgba(255,255,255,0.6))
    drop-shadow(0 0 320px rgba(255,255,255,0.35));

  /* ★白縁取り＋中心光 */
  text-shadow:
    1px 1px 0 #fff,
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    0 0 6px #fff,
    0 0 18px rgba(255,255,255,0.9);

  opacity:0;
  transition:opacity 1.5s ease;
  z-index:30;
  pointer-events:none;
}

.final-message.show{
  opacity:1;
}

.ui-btn.locked{
  pointer-events:none;
  opacity:0.5;
}

.final-back{
  position:fixed;
  bottom:40px;
  left:50%;
  transform:translateX(-50%);
  z-index:10;
}

.sound-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
}

.visitor-count{
  position:fixed;
  bottom:130px;
  left:50%;
  transform:translateX(-50%);
  text-align:center;
  font-size:14px;
  line-height:1.6;
  letter-spacing:0.1em;

  z-index:10;        /* ←追加 */
}

.fall-layer,
.musubi{
  pointer-events:none;
}

.count-num{
  color:#b30000;     /* 神社っぽい赤 */
  font-weight:600;
  text-shadow:0 0 6px rgba(179,0,0,0.35);
}

/* ===== 紙を完全中央固定 ===== */
#fall-paper{
  position: fixed;
  inset: 0;
  z-index:20;
  pointer-events:none;   
}

#fall-paper .omikuji-outer{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

@media (max-width: 600px){

  .tie-scene{
    width:100vw;
  }

   #fall-paper .omikuji-outer{
    width:54vw;
    max-width: 300px;
  }

  .musubi{
    width:90vw;
  }

  .final-message{
    font-size:18px;
  }

}

*{
  -webkit-tap-highlight-color: transparent;
}